<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Age</a></li>
        <li><a href="#">Gender</a></li>
        <li><a href="#">Geo</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Search</h2>
      <form>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchInputText" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="searchSpecie()">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            <button class="btn btn-default" ng-click="reset()">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </div>
        </div>
      </form>
      <h3>Bioclim Variables</h3>
      <ul class="nav nav-pills nav-stacked" ng-repeat="bioclimVar in bioclimVars">
        <li ng-class="{active: bioclimData && bioclimVar === activeBioclimVar}"><a ng-click="setActiveBioclimVar(bioclimVar)">{{bioclimVar.name}}</a></li>
      </ul>
      <br>
    </div>
    <br>

    <div class="col-sm-9" ng-if="specie.scientificName">
      <div class="col-sm-4">
        <div class="well">
          <h4>{{specie.canonicalName}} <span class="badge badge-secondary">{{specie.rank}}</span></h4>
          <p><em>{{specie.scientificName}}</em></p>
          <!-- Taxonomy -->
          <br>
          <h4>Taxonomy</h4>
          <p ng-repeat="value in specie.higherClassificationMap"><b>{{taxonomy[$index]}}:</b> {{value}}</p>
          <!-- Common names -->
          <div ng-if="specie.vernacularNames.length > 0">
            <br>
            <p><b>Common name:</b> {{specie.vernacularNames[0].vernacularName}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <img style="max-width: 100%; height: auto; max-height: 400px" ng-src="{{imageData.url}}">
      </div>

      <div class="row">
        <div ng-show="bioclimData"
             fusioncharts
             width="100%"
             height="100%"
             type="mssplinearea"
             datasource="{{bioclimDataSource}}"
        >
        </div>
      </div>
    </div>
  </div>
