$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: -webkit-fill-available;
}

/* set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: inherit;
}

/* on small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

/*
Search Bar
*/




